<div class="bg-info">
    <div class="text-center" style="margin-top: 5px;">
        <p><a href="{% url 'article:article_column'%}">栏目管理</a></p>
        <p><a href="">发布文章</a></p>
        <p><a href="">文章列表</a></p>
        <p><a href="">文章标签</a></p>
    </div>
    <hr>
    <div class="text-center" style="margin-top: 5px;">
        <p><h4>图片管理</h4></p>
        <p><a href="">图片管理</a></p>
    </div>
    <hr>
    <div class="text-center" style="margin-top: 5px;">
        <p><h4>课程管理</h4></p>
        <p><a href="">课程管理</a></p>
        <p><a href="">内容发布</a></p>
    </div>

</div>
