{% extends "base.html" %}
{% block title %}登陆{% endblock %}
{% block content %}
    <div class="row text-center vertical-middle-sm">
        <h1>登陆</h1>
        <p>输入你的用户名和密码</p>
        <form class="form-horizontal" action="{% url "account:user_login" %}" method="post">{% csrf_token %}
        <!-- {{ form.as_p}}-->
        <div class="form-group">
            <label for="{{ form.username.id_for_label }}" class="col-md-5 control-label" style="color:#22a1ff"><span class="glyphicon glyphicon-user"></span>用户名</label>
            <div class="col-md-6 text-left">{{ form.username }}</div>
        </div>
        <div class="form-group">
            <label for="{{ form.password.id_for_label }}" class="col-md-5 control-label" style="color:blue"><span class="glyphicon glyphicon-floppy-open"></span>密码</label>
            <div class="col-md-6 text-left">{{ form.password }}</div>
        </div>
        <input type="submit" class="btn btn-primary btn-lg" value="登陆">
    </form>
    </div>
{% endblock %}
